---
# Enable most checks then disable (-) problematics ones:
#
# Some checks are good in principle but cannot be applied automatically either
# because they require taste or the autofix can generate wrong code:
#
# - cppcoreguidelines-pro-type-member-init: wrong code sometimes
# - google-explicit-constructor: libllvm has implicit conversions
# - modernize-use-no-discard
# - modernize-use-transparent-functors
# - modernize-use-using: autofix doesn't handle dependent type templates
# - readability-static-accessed-through-instance: wrong code sometimes
#
# No consensus:
#
# - modernize-use-trailing-return-type: also huge code churn
# - readability-convert-member-functions-to-static
# - readability-implicit-bool-conversion
Checks: |
  abseil-*,
  boost-*,
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-member-init,
  google-*,
  -google-explicit-constructor,
  modernize-*,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -modernize-use-transparent-functors,
  -modernize-use-using,
  mpi-*,
  openmp-*,
  performance-*,
  readability-*,
  -readability-convert-member-functions-to-static,
  -readability-static-accessed-through-instance,
  -readability-implicit-bool-conversion,
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  - key:             cert-dcl16-c.NewSuffixes
    value:           'L;LL;LU;LLU'
  - key:             cert-oop54-cpp.WarnOnlyIfThisHasSuspiciousField
    value:           '0'
  - key:             cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value:           '1'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
  - key:             google-readability-namespace-comments.ShortNamespaceLines
    value:           '10'
  - key:             google-readability-namespace-comments.SpacesBeforeComments
    value:           '2'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
...
