[submodule "moderngpu"]
	path = external/moderngpu
	url = https://github.com/moderngpu/moderngpu.git
[submodule "cub"]
	path = external/cub
	url = https://github.com/NVlabs/cub.git
[submodule "docs"]
	path = docs
	url = https://github.com/IntelligentSoftwareSystems/Galois-docs.git
