*.orig
*.patch
.*.swo
*.pyc
*.backup

# no temp files
*~
*.swp

# no cscope/ctags files
cscope.out
tags
.vscode
.settings
compile_commands.json

/GPATH
/GRTAGS
/GTAGS
/build*
/results
/.project
/.dir-locals.el
.tags*

.clang-complete
.ycm_extra_conf.py

.*
