[submodule "liblci"]
	path = liblci
	url = https://github.com/uiuc-hpc/LC.git
[submodule "bliss"]
	path = bliss
	url = https://github.com/chenxuhao/bliss.git
[submodule "moderngpu"]
	path = moderngpu
	url = https://github.com/moderngpu/moderngpu.git
[submodule "cub"]
	path = cub
	url = https://github.com/NVlabs/cub.git
