[submodule "bliss"]
	path = bliss
	url = https://github.com/chenxuhao/bliss.git
[submodule "moderngpu"]
	path = external/moderngpu
	url = https://github.com/moderngpu/moderngpu.git
[submodule "cub"]
	path = external/cub
	url = https://github.com/NVlabs/cub.git
